body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #041936;

    nav {
        margin: 0;
        height: 100%;

        .navigation {
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            list-style-type: none;
        }

        .navigation_item {
            position: relative;
            height: 100%;
            padding: 15px 0;
            margin: 0 3px;
            text-align: center;

            .header-link {
                text-decoration: none;
                color: #4a5269;
                font-family: Roboto;
                display: flex;
                align-items: center;
                height: 100%;
                padding: 10px;
                text-decoration: none;
            }

            &:hover {
                ul {
                    display: flex;
                }
            }

            @media (max-width: 1200px) {
                margin: 0;

                > a {
                    padding: 0 7px;
                }
            }
        }

        .sub-menu {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 70px;
            display: none;
            flex-direction: column;
            background: #fff;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px 0 10px;

            a {
                display: block;
                white-space: nowrap;
                padding: 10px 50px 10px 50px;
            }

            li {
                text-align: center;
            }

            @media (min-width: 1025px) {
                li:hover {
                    background: #0a2954;
                    color: #fff;
                }
            }
        }

        .connect_link {
            background: #0a2954;
            color: #fff;
            border-radius: 5px;
            border: 1px solid transparent;
            transition: all 0.5s;
            padding: 10px;
            text-decoration: none;
            font-family: Roboto;

            &:hover {
                background: #fff;
                color: #0a2954;
                border-color: #0a2954;
                &::after {
                    display: none;
                }
            }
        }
    }

    .logo-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            display: block;
            white-space: nowrap;
        }

        @media (max-width: 1024px) {
            width: 100%;
            height: 100%;
            padding: 0 40px;
        }

        @media (max-width: 480px) {
            padding: 0 15px;
        }

    }

    &::before {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
        z-index: 300;
        pointer-events: none;
    }

    @media (max-width: 1024px) {
        justify-content: space-between;

        &.opened {
            flex-direction: column;
            height: auto;

            nav {
                width: 100%;
                max-height: calc(100vh - 70px);
                overflow: auto;
            }

            .navigation {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 22px;
            }

            .navigation_item {
                margin-left: 20px;
                list-style-type: none;

                &:hover {
                    ul {
                        display: none;
                    }
                }

                a {
                    position: relative;
                    padding: 20px 40px;
                    border-top: 1px solid #e3e3e3;

                    &.connect_link {
                        border-radius: 0;
                    }


                    @media (max-width: 480px) {
                        padding: 20px 30px;
                    }
                }
            }

            .logo-wrapper {
                height: 70px;
            }
        }
    }
}

content {
    .bg-blog {
        position: relative;
        background: url("./img/bg-blog.jpg") no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;
        font-family: 'Roboto', sans-serif;

        h1 {
            padding-top: 85px;
            margin: 0;
            color: #fff;
            font-size: 60px;
            text-align: center;
            text-transform: uppercase;
            font-family: Roboto;
        }
    }

    .search-block {
        max-width: 380px;
        max-height: 110px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 756px;
        left: 0;
        right: 0;
        background: #fff;
        color: #0a2954;
        margin: 0 auto;
        border-radius: 5px;

        h2 {
            color: #5c7493;
            line-height: 50px;
            font-size: 50px;
            font-family: Roboto;
            font-weight: 400;
        }

        img {
            width: 60px;
            position: absolute;
            top: 49px;
            right: 0;
        }
    }

    .container {
        max-width: 1400px;
        margin: 0 auto;

        .inputs-wrapper {
            box-shadow: 0 0 5px black;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 60px 0 0 0;
            padding: 55px 0 55px 0;

            .tag-name {

                input {
                    max-width: 465px;
                    height: 95px;
                    text-align: center;
                    color: #778094;
                    font-family: Roboto;
                    font-size: 45px;
                    font-weight: 400;
                    text-transform: uppercase;
                    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
                }

                .square-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .first {
                        width: 30px;
                        height: 30px;
                        background-color: #fbaf5d;
                        margin: 10px 10px 0 0;
                    }

                    .second {
                        width: 30px;
                        height: 30px;
                        background-color: #7cc576;
                        margin: 10px 10px 0 0;
                    }

                    .third {
                        width: 30px;
                        height: 30px;
                        background-color: #5674b9;
                        margin: 10px 10px 0 0;
                    }

                    .forth {
                        width: 30px;
                        height: 30px;
                        background-color: #f26d7d;
                        margin: 10px 10px 0 0;
                    }

                    .fifth {
                        width: 30px;
                        height: 30px;
                        background-color: #c69c6d;
                        margin: 10px 10px 0 0;
                    }

                    .six {
                        width: 30px;
                        height: 30px;
                        background-color: #f06eaa;
                        margin: 10px 10px 0 0;
                    }
                }
            }

            .title-name {

                input {
                    max-width: 465px;
                    height: 95px;
                    text-align: center;
                    color: #778094;
                    font-family: Roboto;
                    font-size: 45px;
                    font-weight: 400;
                    text-transform: uppercase;
                    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
                }
            }
        }

        .cards-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .small-cards {
                margin-right: 30px;

                .back-end-card {
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31);
                    margin-bottom: 30px;


                    .back-end-card-img {
                        display: flex;
                        flex-direction: column-reverse;
                        width: 635px;
                        height: 355px;
                        background: url(./img/bg1.jpg) center center no-repeat;
                        background-size: cover;

                        .back-end-article-name {
                            background: #fbaf5d;
                            max-width: 200px;
                            margin-left: 35px;

                            p {
                                margin: 0;
                                padding: 5px 0 5px 0;
                                text-align: center;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 25px;
                                font-weight: bold;
                                font-family: Roboto;

                            }
                        }
                    }

                    .back-end-title-name {
                        padding: 10px 0px 55px 20px;
                        font-size: 50px;
                        text-transform: uppercase;
                        font-family: Roboto;
                        font-weight: 300;
                    }
                }

                .software-card {
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31);
                    margin-bottom: 30px;


                    .software-card-img {
                        display: flex;
                        flex-direction: column-reverse;
                        width: 635px;
                        height: 240px;
                        background: url(./img/bg3.jpg) center center no-repeat;
                        background-size: cover;

                        .software-article-name {
                            background: #5674b9;
                            max-width: 200px;
                            margin-left: 35px;

                            p {
                                margin: 0;
                                padding: 5px 0 5px 0;
                                text-align: center;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 25px;
                                font-weight: bold;
                                font-family: Roboto;

                            }
                        }
                    }

                    .software-title-name {
                        padding: 10px 0 10px 20px;
                        font-size: 50px;
                        text-transform: uppercase;
                        font-family: Roboto;
                        font-weight: 300;
                    }
                }

                .consulting-card {
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31);
                    margin-bottom: 30px;


                    .consulting-card-img {
                        display: flex;
                        flex-direction: column-reverse;
                        width: 635px;
                        height: 560px;
                        background: url(./img/bg5.jpg) center center no-repeat;
                        background-size: cover;

                        .consulting-article-name {
                            background: #c69c6d;
                            max-width: 200px;
                            margin-left: 35px;

                            p {
                                margin: 0;
                                padding: 5px 0 5px 0;
                                text-align: center;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 25px;
                                font-weight: bold;
                                font-family: Roboto;

                            }
                        }
                    }

                    .consulting-title-name {
                        padding: 10px 0px 55px 20px;
                        font-size: 50px;
                        text-transform: uppercase;
                        font-family: Roboto;
                        font-weight: 300;
                    }
                }
            }

            .big-cards {

                .front-end-card {
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31);
                    margin-bottom: 30px;


                    .front-end-card-img {
                        display: flex;
                        flex-direction: column-reverse;
                        width: 734px;
                        height: 510px;
                        background: url(./img/bg2.jpg) center center no-repeat;
                        background-size: cover;

                        .front-end-article-name {
                            background: #7cc576;
                            max-width: 200px;
                            margin-left: 35px;

                            p {
                                margin: 0;
                                padding: 5px 0 5px 0;
                                text-align: center;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 25px;
                                font-weight: bold;
                                font-family: Roboto;

                            }
                        }
                    }

                    .front-end-title-name {
                        padding: 10px 0 35px 20px;
                        font-size: 50px;
                        text-transform: uppercase;
                        font-family: Roboto;
                        font-weight: 300;
                    }
                }

                .mobile-card {
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31);
                    margin-bottom: 30px;


                    .mobile-card-img {
                        display: flex;
                        flex-direction: column-reverse;
                        width: 734px;
                        height: 350px;
                        background: url(./img/bg4.jpg) center center no-repeat;
                        background-size: cover;

                        .mobile-article-name {
                            background: #f26d7d;
                            max-width: 200px;
                            margin-left: 35px;

                            p {
                                margin: 0;
                                padding: 5px 0 5px 0;
                                text-align: center;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 25px;
                                font-weight: bold;
                                font-family: Roboto;

                            }
                        }
                    }

                    .mobile-title-name {
                        padding: 10px 0 30px 20px;
                        font-size: 50px;
                        text-transform: uppercase;
                        font-family: Roboto;
                        font-weight: 300;
                    }
                }

                .company-card {
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31);
                    margin-bottom: 30px;


                    .company-card-img {
                        display: flex;
                        flex-direction: column-reverse;
                        width: 734px;
                        height: 296px;
                        background: url(./img/bg6.jpg) center center no-repeat;
                        background-size: cover;

                        .company-article-name {
                            background: #f06eaa;
                            max-width: 200px;
                            margin-left: 35px;

                            p {
                                margin: 0;
                                padding: 5px 0 5px 0;
                                text-align: center;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 25px;
                                font-weight: bold;
                                font-family: Roboto;

                            }
                        }
                    }

                    .company-title-name {
                        padding: 10px 0px 55px 20px;
                        font-size: 50px;
                        text-transform: uppercase;
                        font-family: Roboto;
                        font-weight: 300;
                    }
                }
            }
        }

        .show-more {
            width: 100%;
            margin: 20px 0 100px 0;
            height: 100px;
            font-size: 49px;
            text-transform: uppercase;
            color: #46648e;
            text-decoration: none;
            border: 2px solid #ccc;
            background: #fff;
        }
    }
}

footer {
    color: #fff;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    font-family: Roboto;

    nav {
        margin: 0;

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0 0 35px 0;

            li {
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    @media (max-width: 768px) {
        height: 70px;

        nav {
            display: none;
        }
    }

    @media (max-width: 480px) {
        height: auto;
    }
}


